
header {
  display: flex;
  justify-content: space-between;
  position: relative;
  display: grid;
  grid-gap: 1rem;
  color: #fff;
  background: #3863D9;
  padding: 1rem;
}

header h1 {
  font-size: 1.5rem;
  font-weight: bold;
}